*.json
*.lock
*.old
*.pyc
*.pyo
*.vim
*/__pycache__
.bin
.coverage
.env
.envrc
.pdm.toml
.python-version
__pycache__
__pypackages__
build
codecov.yml
coverage.xml
dist
env
ez_setup.py
hornet.egg-info
htmlcov
make_release
node_modules
setuptools-*
tags
test.out/*
