*/__pycache__
__pycache__
__pypackages__
.pdm.toml
hornet.egg-info
setuptools-*
ez_setup.py
env
build
dist
*.pyc
*.pyo
*.old
*.vim
*.lock
*.json
tags
htmlcov
test.out/*
.coverage
codecov.yml
coverage.xml
.bin
.env
.envrc
make_release
node_modules
